@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';


.debug{
  outline: 1px solid red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  
}
